{% with wname=field.field.widget.__class__.__name__ lname=label|default:field.label %}
<div class="field
  {% if field.errors %} has-error{% endif %}
  {% if wname == 'CheckboxInput' %} field--checkbox{% endif %}
  {% if wname == 'Textarea' or wname == 'SelectMultiple' %} field--full{% endif %}">

  {% if wname == 'CheckboxInput' %}
    <label class="check">
      {{ field }}
      <span>{{ lname }}</span>
    </label>
  {% else %}
    <label for="{{ field.id_for_label }}" class="field__label">
      {{ lname }}{% if field.field.required %}<span class="field__req" aria-hidden="true">*</span>{% endif %}
    </label>
    {{ field }}
    {% if field.help_text %}<p class="field__help">{{ field.help_text }}</p>{% endif %}
  {% endif %}

  {% for err in field.errors %}
    <p class="field__error" id="{{ field.id_for_label }}-error">{{ err }}</p>
  {% endfor %}
</div>
{% endwith %}